name: Greet
on:
  workflow_call:
    inputs:
      user_name:
        description: Enter username
        required: true
        type: string
      
jobs:
  greet:
    runs-on: ubuntu-latest
    steps:
      - name: Greet the user
        run: echo "Hello ${{ inputs.user_name }}, Good morning!"
